{% extends 'base.html.twig' %}
{% block body %}
<header class="header--type2" data-background="http://www.webcorpco.com/core/fileparse.php/37/urlt/assets/images/sectional-images/blog.jpg" data-height="35%" style="background-image: url(http://www.webcorpco.com/core/fileparse.php/37/urlt/assets/images/sectional-images/blog.jpg); min-height: 303.8px; -webkit-user-select: auto;">
  <div class="inner" style="-webkit-user-select: auto;">
    <div class="container" style="-webkit-user-select: auto;">
      <div class="row" style="-webkit-user-select: auto;">
        <div class="col-md-10" style="-webkit-user-select: auto;">
          <section class="ct-page_title" style="-webkit-user-select: auto;">
            <div class="h1" style="-webkit-user-select: auto;">Blog</div>
            <a href="{{ path('article_new') }}">Créer un nouvel article</a>
            <div class="ct-page_title-content" style="-webkit-user-select: auto;"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
  <div class="row">
    <div class="col-md-12 ct-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="theBlogGrid">
            {% for article in articles %}
              <ul class="row blogGrid" id="blogGrid">
                <li class="col-xs-12 col-sm-6 col-md-3 blog-inner" id="21">
                  <div class="imgHolder" onclick="location.href='/about-us/blog/case-studies/building-in-webcorpco-cms-8.stml'">
                    <div class="description-box animateBottomName">
                      <p>{{ article.titre }}</p>
                        <td>
                             <a href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
                             <a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                        </td>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </li>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}